.container {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-rows: 2fr 6fr 1fr;
	grid-template-columns: 3fr 1fr;
	grid-gap: 2rem;

	grid-template-areas: "header ." "form options" "actions .";

	justify-items: stretch;
	align-items: stretch;
}

.header {
	font-size: 3rem;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.input {
	grid-area: input;
	margin-left: 5rem;
	margin-right: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form {
	padding: 2rem;
	grid-area: form;
	color: #fff;
	overflow-y: scroll;

	&::-webkit-scrollbar {
		display: none;
	}

	& > .form__group--inline:not(:last-child) {
		margin-bottom: 3rem;
	}

	& > .form__group:not(:last-child) {
		margin-bottom: 3rem;
	}

	&__group {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;

		&--inline {
			width: 100%;
			display: flex;
			justify-content: space-evenly;

			& > *:not(:last-child) {
				margin-right: 1rem;
			}
		}

		&--label {
			font-size: 2rem;
			margin-bottom: 1rem;
		}

		&--input {
			width: 100%;

			&--text {
				width: 100%;
				border: none;
				outine: none;
				padding: 1rem 3rem;
				font-size: 2rem;
				text-align: center;
				border-radius: 1rem;
			}
		}

		&--helper {

		}
	}
}

.description {
	grid-area: desc;
	display: flex;
	flex-direction: column;
}

.options {
	grid-area: options;
	align-self: self-start;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: scroll;

	&::-webkit-scrollbar {
		display: none;
	}

	&__group {
		color: #fff;
		margin-bottom: 1rem;

		&--title {
			font-size: 2rem;
		}

		&--list {
			font-size: 1rem;
		}
	}
}

.actions {
	grid-area: actions;
	display: flex;
	justify-content: center;
	align-items: center;
}

