<div *ngIf="user" class="container">
    <div class="header">
        {{user.name}}
    </div>

    <div class="form" [formGroup]="form">
        <div class="form__group--inline">
            <div class="form__group">
                <div class="form__group--label">
                    <label for="showPicture">Show my picture</label>
                </div>
                <label class="switch">
                    <input id="showPicture" type="checkbox" checked>
                    <span class="slider round"></span>
                </label>
            </div>

            <div class="form__group">
                <div class="form__group--label">
                    <label for="showFirstName">Show my first name</label>
                </div>
                <label class="switch">
                    <input id="showFirstName" type="checkbox" checked>
                    <span class="slider round"></span>
                </label>
            </div>

            <div class="form__group">
                <div class="form__group--label">
                    <label for="enableEmailNotifications">Enable email notifications</label>
                </div>
                <label class="switch">
                    <input id="enableEmailNotifications" type="checkbox" checked>
                    <span class="slider round"></span>
                </label>
            </div>
        </div>

        <div class="form__grou--inline">
            <div class="form__group">
                <div class="form__group--label">
                    <label for="country">Country</label>
                </div>
                <div class="form__group--input">
                    <a class="btn btn--inverse">test</a>
                </div>
            </div>
        </div>

    </div>

    <div class="options">
        <div class="options__group">
            <div class="options__group--title">
                Options
            </div>
            <div class="options__group--list">
                <a (click)="logout()"
                   class="btn btn--align-left btn--text-md">
                    &nbsp;Logout
                </a>
                <a (click)="selectOption('emailNotifications')"
                   class="btn btn--align-left btn--text-md">
                    &nbsp;Close account
                </a>
            </div>
        </div>
    </div>

    <div class="actions">
        <a (click)="save()" class="btn btn">Save</a>
    </div>

</div>
