
.title {
	grid-area: title;
	font-size: 3rem;
	color: var(--color-whitish);
	display: flex;
	justify-content: center;
	align-items: center;
}

.input {
	grid-area: input;
	margin-left: 5rem;
	margin-right: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.description {
	grid-area: desc;
	display: flex;
	flex-direction: column;
}

.actions {
	grid-area: actions;
	display: flex;
	justify-content: center;
	align-items: center;
}

