.container {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-rows: 2fr 6fr 1fr;
	grid-template-columns: 3fr 1fr;
	grid-gap: 2rem;

	grid-template-areas:
					"form ."
					"desc options"
					"actions options";

	justify-items: stretch;
	align-items: stretch;
}

.form {
	margin-left: 5rem;
	margin-right: 5rem;
	grid-area: form;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;

	&__group {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&--label {
			font-size: 2.5rem;
			margin-bottom: 1rem;
		}

		&--input {
			width: 100%;

			&--text {
				width: 100%;
				border: none;
				outine: none;
				padding: 1rem 3rem;
				font-size: 2rem;
				text-align: center;
				border-radius: 1rem;
			}
		}

		&--helper {

		}
	}
}

.description {
	grid-area: desc;
}

.options {
	grid-area: options;
	align-self: self-start;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: scroll;

	&::-webkit-scrollbar {
		display: none;
	}

	&__group {
		color: #fff;
		margin-bottom: 1rem;

		&--title {
			font-size: 2rem;
		}

		&--list {
			font-size: 1rem;
		}
	}
}

.actions {
	grid-area: actions;
	display: flex;
	justify-content: center;
	align-items: center;
}

