<div class="footer">
    <div class="footer--main">
        By Vincent Guillemette. All rights reserved &copy; Vincent Guillemette.
    </div>
    <div class="footer--sub">
        <a href="https://github.com/guignol1981">
            <i class="fab fa-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/vincent-guillemette-a6a9a9a8/">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://trello.com/invite/b/iywVNysM/90e3ae3f4c76628ce6f1b6c63bc3a89e/penpalm">
            <i class="fab fa-trello"></i>
        </a>
    </div>
</div>
