<div class="container">
    <div class="form login-form">
        <div class="form__group">
            <div class="form__group__label form__group__label--dark">
                <label for="name">Displayed name</label>
            </div>
            <div class="form__group__input">
                <input class="form__group__input--text" id="name" type="text">
            </div>
        </div>
        <div class="form__group">
            <div class="form__group__label form__group__label--dark">
                <label for="email">Email</label>
            </div>
            <div class="form__group__input">
                <input class="form__group__input--text" id="email" type="email">
            </div>
        </div>
        <div class="form__group">
            <div class="form__group__label form__group__label--dark">
                <label for="password">Password</label>
            </div>
            <div class="form__group__input">
                <input class="form__group__input--text" id="password" type="password">
            </div>
        </div>
        <div class="form__group">
            <div class="form__group__label form__group__label--dark">
                <label for="passwordconfirm">Confirm password</label>
            </div>
            <div class="form__group__input">
                <input class="form__group__input--text" id="passwordconfirm" type="password">
            </div>
        </div>
    </div>
    <div class="actions">
        <a (click)="cancel()" class="btn btn--secondary">Cancel</a>
        <a (click)="signIn()" class="btn btn--primary">Sign in</a>
    </div>
</div>