<div class="container">
    <div [formGroup]="form" class="form login-form">
        <div class="form__group">
            <div class="form__group__label form__group__label--dark">
                <label for="email">Email</label>
            </div>
            <div class="form__group__input">
                <input formControlName="email" class="form__group__input--text form__group__input--text--large"
                       id="email" type="email">
            </div>
        </div>
        <div class="form__group">
            <div class="form__group__label form__group__label--dark">
                <label for="password">Password</label>
            </div>
            <div class="form__group__input">
                <input formControlName="password" class="form__group__input--text form__group__input--text--large"
                       id="password" type="password">
            </div>
        </div>
    </div>
    <div class="">
        <a href=showForgotPassword()>forgot password</a>
    </div>
    <div *ngIf="errorMsg">
        <small class="form-msg form-msg--warning">{{errorMsg}}</small>
    </div>
    <div class="actions">
        <a (click)="cancel()" class="btn btn--secondary">Cancel</a>
        <a (click)="signIn()" class="btn btn--primary">Sign in</a>
    </div>
</div>