.loading {
	border: 1.6rem solid #f3f3f3;
	border-radius: 50%;
	border-top: 1.6rem solid var(--color-primary);
	width: 12rem;
	height: 12rem;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
}

.image-uploader {
	background-color: var(--color-whitish);
	border-radius: 1rem;
	width: 100%;
}

.image-uploader .img-ul-upload {
	background-color: var(--color-primary) !important;
	border-radius: 1rem;
}

.image-uploader .img-ul-clear {
	background-color: var(--color-secondary) !important;
	border-radius: 1rem;
	margin-left: .5rem;
}

.image-uploader .img-ul-drag-box-msg {
	color: gray !important;
}

.image-uploader .img-ul-container {
	background-color: var(--color-whitish) !important;
}