:root {
  --color-primary: #7a1ea1;
  --color-primary-light: #9b26af;
  --color-primary-dark: #691a99;

  --color-secondary: #68efad;

  --color-warning: #FF9966;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #c8c8c8;
  --color-grey-dark-2: #999;
  --color-grey-dark-3: #777;
  --color-grey-dark-4: #333;

  --color-paper: #F8ECC2;

  --shadow-dark: 0 2rem 4rem rgba(0,0,0,.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.1);

  --line: 1px solid var(--color-grey-light-2);
}