div.message
    p.font-weight-bold Hello!
    p You have a new pal request from #{data.palName}!
    p
        a(href= data.baseUrl) Click here to handle the request

    p.font-italic Sincerly yours,
    p The Penpalms team