div.message
    p.font-weight-bold Hello!
    p You have a new pal,  #{data.palName} has accepted your pal request!
    p
        a(href= data.baseUrl) Click here to write a postcard to your new pal!

    p.font-italic Sincerly yours,
    p The Penpalms team