div.message
    p.font-weight-bold Hello #{data.name} !
    p Please click on the link bellow to reset your password
        a(href='http://localhost:3000/reset-password/' + data.id) link

    p.font-italic Sincerly yours,
    p The Penpalm team