<div class="postcard">
  <div class="postcard__body">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim incidunt iusto labore mollitia nam officia porro possimus quod sed soluta. Aliquam architecto est, iusto labore molestiae quo tempora temporibus voluptatum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa est ipsam, iste provident voluptate voluptatem. At consequuntur, doloremque error harum, impedit inventore itaque obcaecati, omnis perferendis recusandae soluta ullam voluptas.</p>
    <p>Vincent</p>
  </div>
</div>
