.container {
	height: 100vh;
	display: grid;
	grid-template-rows: 1fr 2fr 1fr;
	grid-template-columns: 1fr 3fr 1fr;
	grid-gap: 3rem;

	grid-template-areas:
			". actions ."
			". postcard ."
			". . .";

	justify-items: center;
	align-items: center;
}

.postcard {
	grid-area: postcard;
	align-self: stretch;
	width: 100%;
}

.actions {
	width: 100%;
	grid-area: actions;
	display: flex;
	justify-content: space-evenly;
}
