<div *ngIf="user" class="container">
    <ul class="nav">
        <li [class]="activeTab === 'account' ? 'nav-item nav-item--active nav-item--group' : 'nav-item nav-item--group'">
            <a class="nav-item__image-wrap">
                <img [src]="user.pictureUrl" alt="profile image" class="nav-item__image">
            </a>
            <ul>
                <li (click)="setTab('account')"
                    [class]="activeTab === 'account' ? 'nav-item nav-item--small nav-item--active' : 'nav-item nav-item--small'">
                    <a>
                        account
                    </a>
                </li>
                <li (click)="changeProfilePicture()"
                    class="nav-item nav-item--small">
                    <a>
                        picture
                    </a>
                </li>
            </ul>
        </li>
        <li (click)="setTab('matcher')" [class]="activeTab === 'matcher' ? 'nav-item nav-item--active' : 'nav-item'">
            <a>
                <i class="fas fa-users"></i>
            </a>
        </li>
        <li (click)="setTab('compose')"
            [class]="activeTab === 'compose' ? 'nav-item nav-item--active' : 'nav-item'">
            <a>
                <i class="fas fa-pencil-alt"></i>
            </a>
        </li>
        <li [class]="activeTab === 'inbox' || activeTab === 'outbox' ? 'nav-item nav-item--active nav-item--group' : 'nav-item nav-item--group'">
            <i class="fas fa-inbox"></i>
            <ul>
                <li (click)="setTab('inbox')"
                    [class]="activeTab === 'inbox' ? 'nav-item nav-item--active' : 'nav-item'">
                    <a>
                        in
                    </a>
                </li>
                <li (click)="setTab('outbox')"
                    [class]="activeTab === 'outbox' ? 'nav-item nav-item--active' : 'nav-item'">
                    <a>
                        out
                    </a>
                </li>
            </ul>
        </li>
        <!--<li (click)="setTab('about')" [class]="activeTab === 'about' ? 'nav-item nav-item&#45;&#45;active' : 'nav-item'">-->
        <!--<a>-->
        <!--<i class="far fa-question-circle"></i>-->
        <!--</a>-->
        <!--</li>-->
        <li (click)="logout()" class="nav-item">
            <a>
                <i class="fas fa-sign-out-alt"></i>
            </a>
        </li>
    </ul>
    <div *ngIf="activeTab === 'inbox'" class="main">
        <app-inbox [direction]="'in'"></app-inbox>
    </div>
    <div *ngIf="activeTab === 'outbox'" class="main">
        <app-inbox [direction]="'out'"></app-inbox>
    </div>
    <div *ngIf="activeTab === 'compose'" class="main">
        <app-compose (notificationEmitter)="onNotification($event)"
                     (imageUploadEvent)="onImageUploadEvent($event)"></app-compose>
    </div>
    <div *ngIf="activeTab === 'account'" class="main">
        <app-account [(user)]="user" (notificationEmitter)="onNotification($event)"
                     (imageUploadEvent)="onImageUploadEvent($event)"></app-account>
    </div>
    <div *ngIf="activeTab === 'matcher'" class="main">
        <app-matcher (notificationEmitter)="onNotification($event)"></app-matcher>
    </div>
    <div class="footer">
        <app-footer></app-footer>
    </div>

    <app-notification class="notif"></app-notification>
    <div *ngIf="showImageUploadModal" class="modal-container">
        <app-uploader-modal #uploadermodal
                            (closeEvent)="onImageModalCloseEvent()"
                            class="modal-content"></app-uploader-modal>
    </div>
</div>

