<div *ngIf="user" class="container">
    <ul class="nav">
        <li (click)="setTab('inbox')" class="nav-item">
            <a>
                <i class="fas fa-arrow-down"></i>
            </a>
        </li>
        <li (click)="setTab('outbox')" class="nav-item">
            <a>
                <i class="fas fa-arrow-up"></i>
            </a>
        </li>
        <li (click)="setTab('compose')" class="nav-item">
            <a>
                <i class="fas fa-pencil-alt"></i>
            </a>
        </li>
        <li (click)="setTab('account')" class="nav-item">
            <a class="nav-item__image-wrap">
                <img [src]="user.photoUrl" alt="profile image" class="nav-item__image">
            </a>
        </li>
    </ul>
    <div *ngIf="activeTabs === 'news'" class="main">
        <app-news [news]="user.news"></app-news>
    </div>
    <div *ngIf="activeTabs === 'inbox'" class="main">
        <app-inbox></app-inbox>
    </div>
    <div *ngIf="activeTabs === 'outbox'" class="main">
        <app-outbox></app-outbox>
    </div>
    <div *ngIf="activeTabs === 'compose'" class="main">
        <app-compose></app-compose>
    </div>
    <div *ngIf="activeTabs === 'account'" class="main">
        <app-account [user]="user"></app-account>
    </div>
    <div class="footer">
        <app-footer></app-footer>
    </div>
</div>¢