.container {
	position: relative;
	height: 100vh;
	display: grid;
	grid-template-rows: 1fr 6fr 1fr;
	grid-template-columns: 1fr 3fr 1fr;
	grid-gap: 2rem;

	grid-template-areas: "nav main main" "nav main main" "nav footer notif";

	justify-items: stretch;
	align-items: stretch;
}

.nav {
	margin: 3rem;
	padding: 1rem 1rem;
	grid-area: nav;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	list-style-type: none;
}

.nav-item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 10rem;
	height: 10rem;
	border-radius: 50%;
	text-decoration: none;
	color: var(--color-whitish);
	font-size: 4rem;
	cursor: pointer;
	transition: all .3s;
	z-index: 1000;
	background-color: #333333;

	&--group {
		position: relative;

		&:hover > ul {
			left: 10rem;
			opacity: 1;
		}

		& > ul {
			transition: all .5s ease-in-out;
			position: absolute;
			top: 0;
			left: -5rem;
			opacity: 0;
			display: flex;

			& > li:not(:last-child) {
				margin-right: 1rem;
			}
		}
	}

	&--active {
		background-color: var(--color-whitish);
		color: black;
	}

	&__image-wrap {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__image {
		max-width: 50%;
		max-height: 50%;
		border-radius: 50%;
	}

	&:hover {
		background-color: var(--color-whitish);
		color: black;
	}

	&--active {

	}
}

.main {
	grid-area: main;
	align-self: stretch;
	width: 100%;
}

.notif {
	grid-area: notif;
}

.footer {
	grid-area: footer;
	width: 100%;
}

.modal-content {
	z-index: 3000;
	position: absolute;
	height: 50vh;
	width: 50vh;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.modal-container {
	z-index: 2999;
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: transparentize(#333333, .5);
	left: 0;
	top: 0;
}

