<div *ngIf="user && languageList && countryList" class="container">
    <app-loader class="main" [load]="transacting"></app-loader>
    <app-view-actions class="bottom" [actions]="actions" [disableActions]="transacting"></app-view-actions>
    <app-view-single-input class="top" [inputs]="inputs"></app-view-single-input>
    <app-view-options class="sub" [groups]="optionGroups" [disableOptions]="transacting"></app-view-options>
    <app-pager *ngIf="userList" class="top" [totalCount]="totalCount" [skipStep]="findFilter.limit" (pagerEventEmitter)="onPagerEvent($event)"></app-pager>

    <div class="main list-container">
        <div *ngIf="userList && (view === 'discover' || view === 'pending-requests' || view === 'sent-requests' || view === 'pals')"
             class="list">
            <app-profile-card *ngFor="let listedUser of userList"
                              (sendRequestEmitter)="sendRequest($event)"
                              (handleRequestEmitter)="handleRequest($event)"
                              (removePalEmitter)="removePal($event)"
                              (cancelRequestEmitter)="cancelRequest($event)"
                              [cardUser]="listedUser"
                              [user]="user"></app-profile-card>
        </div>
    </div>
    <div *ngIf="userList && userList.length === 0 && !transacting" class="main main__message">
        This list is empty
    </div>
</div>