.list-container {
	overflow-y: scroll;
	&::-webkit-scrollbar {
		display: none;
	}
}

.user-details {
	grid-area: list;
	display: grid;
	grid-template-rows: 1fr 2fr;
	grid-template-columns: 1fr 2fr;
	grid-gap: 2rem;

	grid-template-areas: "userphoto username" "userinfo userdescription";

	justify-items: stretch;
	align-items: stretch;
	color: var(--color-whitish);
	font-size: 2rem;

	&__photo {
		grid-area: userphoto;
		height: 10rem;
		width: 10rem;
	}

	&__name {
		grid-area: username;
		font-size: 3rem;
	}

	&__info {
		grid-area: userinfo;
		display: flex;
		flex-direction: column;
	}

	&__description {
		grid-area: userdescription;
	}
}

.list {
	grid-area: list;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 2rem;
	max-height: 100%;

	&::-webkit-scrollbar {
		display: none;
	}

	&__empty {
		align-self: center;
		margin: auto;
		color: var(--color-whitish);
		font-size: 3rem;
	}
}
