.container {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-rows: 2fr 6fr 1fr;
	grid-template-columns: 3fr 1fr;
	grid-gap: 2rem;

	grid-template-areas: "input ." "list options" "actions options";

	justify-items: stretch;
	align-items: stretch;
}

.user-details {
	grid-area: list;
	display: grid;
	grid-template-rows: 1fr 2fr;
	grid-template-columns: 1fr 2fr;
	grid-gap: 2rem;

	grid-template-areas: "userphoto username" "userinfo userdescription";

	justify-items: stretch;
	align-items: stretch;
	color: var(--color-whitish);
	font-size: 2rem;

	&__photo {
		grid-area: userphoto;
		height: 10rem;
		width: 10rem;
	}

	&__name {
		grid-area: username;
		font-size: 3rem;
	}

	&__info {
		grid-area: userinfo;
		display: flex;
		flex-direction: column;
	}

	&__description {
		grid-area: userdescription;
	}
}

.list {
	grid-area: list;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	overflow-y: scroll;
	padding: 2rem;

	&::-webkit-scrollbar {
		display: none;
	}

	&__empty {
		align-self: center;
		margin: auto;
		color: var(--color-whitish);
		font-size: 3rem;
	}

	&__item {
		transition: all .4s ease;
		width: 10rem;
		height: 10rem;
		margin: 1rem;
		position: relative;
		cursor: pointer;

		&:hover {
			transform: scale(1.2);
		}

		&__info {
			display: none;
		}
	}
}

.image-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
}

.image {
	max-width: 100%;
	max-height: 100%;
	border-radius: 50%;
}


.options {
	grid-area: options;
	align-self: self-start;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: scroll;

	&::-webkit-scrollbar {
		display: none;
	}

	&__group {
		color: var(--color-whitish);
		margin-bottom: 1rem;

		&--title {
			font-size: 2rem;
		}

		&--list {
			font-size: 1rem;
		}
	}
}

.actions {
	grid-area: actions;
	display: flex;
	justify-content: center;
	align-items: center;
}