<div *ngIf="groups" class="container">
    <div class="group">
        <div *ngFor="let group of groups">
            <div *ngIf="checkGroupCondition(group)">
                <p class="group__title">
                    {{group.name}}
                </p>
                <div *ngFor="let option of group.options" class="group__list">
                    <a *ngIf="checkOptionCondition(option)" [class]="getOptionClass(option, group)"
                       (click)="executeOption(option, group)">
                        <i *ngIf="option.icon" [class]="option.icon"></i>
                        &nbsp;{{getOptionName(option)}}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>