<div class="container">
    <div *ngIf="!success" [formGroup]="form" class="form register-form">
        <div class="form__group">
            <div class="form__group__label form__group__label--dark">
                <label for="username">Username</label>
            </div>
            <div class="form__group__input">
                <input formControlName="username" class="form__group__input--text form__group__input--text--large"
                       id="username" type="text">
            </div>
        </div>
        <div class="form__group">
            <div class="form__group__label form__group__label--dark">
                <label for="email">Email</label>
            </div>
            <div class="form__group__input">
                <input formControlName="email" class="form__group__input--text form__group__input--text--large"
                       id="email" type="email">
            </div>
        </div>
        <div class="form__group">
            <div class="form__group__label form__group__label--dark">
                <label for="password">Password</label>
            </div>
            <div class="form__group__input">
                <input formControlName="password" class="form__group__input--text form__group__input--text--large"
                       id="password" type="password">
            </div>
        </div>
        <div class="form__group">
            <div class="form__group__label form__group__label--dark">
                <label for="passwordconfirm">Confirm password</label>
            </div>
            <div class="form__group__input">
                <input formControlName="passwordConfirm"
                       class="form__group__input--text form__group__input--text--large" id="passwordconfirm"
                       type="password">
            </div>
        </div>
    </div>
    <div *ngIf="success" class="success-msg">
        Great, now check your email to confirm your account!
    </div>
    <div class="actions">
        <a (click)="close()" class="btn btn--secondary">Close</a>
        <a *ngIf="!success" (click)="register()" [class]="form.valid ? 'btn btn--primary' : 'btn btn--disabled'">Register</a>
    </div>
</div>