.btn-logout {
  color: blue;
  font-size: 10rem;
  position: absolute;
  border-radius: 50%;
  top: 7rem;
  right: 7rem;
  height: 9rem;
  width: 9rem;
  padding: 2rem;
  border: .1rem solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}