.container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.paging {
	color: #fff;
	font-size: 2rem;
	margin-bottom: 2rem;
}

.postcard {
	margin-bottom: 2rem;
	background-color: #fff;
	box-sizing: border-box;
	border: none;
	border-radius: .5rem;
	font-size: 2rem;
	line-height: 2.4rem;
	overflow: auto;
	height: 25rem;
	width: 50rem;
	padding: .8rem;
}