<div class="container">
    <div class="logo-container">
        <img class="logo" src="../../assets/penpalm.svg#logo">
    </div>
    <div class="login-container">
        <a (click)="loginWithFacebook()" class="btn btn--align-left btn--large">
            <i class="fab fa-facebook-square"></i> &nbsp;Login with Facebook
        </a>
        <a (click)="loginWithGoogle()" class="btn btn--align-left btn--large">
            <i class="fab fa-google-plus-square"></i> &nbsp;Login wih Google
        </a>
        <a (click)="showSignInModal()" class="btn btn--align-left btn--large">
            <i class="fas fa-sign-in-alt"></i> &nbsp;Sign in
        </a>
        <a (click)="showRegisterModal()" class="btn btn--align-left btn--large">
            <i class="fas fa-user-plus"></i> &nbsp;Register
        </a>
    </div>
    <div class="modal-container">
        <app-login-modal #loginmodal class="modal-content"></app-login-modal>
    </div>
</div>

