.btn {
	text-decoration: none;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 1rem;
	padding: 1rem 1.4rem;
	font-size: 2rem;
	transition: all .2s;
	background-color: transparent;
	color: var(--color-whitish);

	&--small {
		font-size: .5rem;
	}

	&--large {
		width: 100%;
	}

	&:hover {
		background: var(--color-whitish);
		color: black;
	}

	&--text-md {
		font-size: 1.5rem;
	}

	&--disabled {
		color: #6d6d6d;
	}

	&--active {
		color: gray;
		background-color: var(--color-whitish);
	}

	&--align-left {
		display: flex;
		justify-content: flex-start;
	}

	&--inverse {
		background-color: var(--color-whitish);
		color: gray;
	}

	&--social {
		font-size: 4rem;

		&--fb {
			color: blue;
		}

		&--google {
			color: red;
		}
	}

	&--submit {
		padding: 3rem;
		height: 4rem;
		width: 36rem;
		font-size: 3rem;
		background-color: var(--color-secondary);
		border-radius: .5rem;
	}

	&--primary {
		background-color: var(--color-primary);
		color: var(--color-whitish);
	}

	&--secondary {
		background-color: var(--color-secondary);
		color: var(--color-whitish);
	}

	&--warning {
		transition: all .2s ease;
		background-color: var(--color-warning);
		color: var(--color-whitish);
		&:hover {
			background: var(--color-warning);
		}
	}

	&--action {
		padding: 3rem;
		height: 6rem;
		width: 6rem;
		font-size: 3rem;
		background-color: var(--color-secondary);
		border-radius: 1rem;
	}
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input {
	display: none;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: var(--color-whitish);
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: var(--color-secondary);
}

input:focus + .slider {
	box-shadow: 0 0 1px var(--color-secondary);
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.dropbtn {
	color: #000;
	border: none;
	cursor: pointer;
	width: 100%;
	border-radius: 1rem;
	padding: 1rem 3rem;
	font-size: 2rem;
	background-color: var(--color-whitish);
	color: gray;
}



