.btn {
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &--social {

  }

  &--primary {
    color: var(--color-primary);
  }

  &--secondary {
    color: var(--color-secondary);
  }

  &--action {
    padding: 4rem;
    height: 9rem;
    width: 9rem;
    font-size: 4rem;
    background-color: var(--color-secondary);
    border-radius: 1rem;
  }

  &--image > img {
    height: 9rem;
    width: 9rem;
    border-radius: 1rem;
  }
}