.container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.paging {
	color: #fff;
	font-size: 2rem;
	margin-bottom: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;

	&__handles {

		&__handle {
			cursor: pointer;

			&--inactive {
				cursor: auto;
				color: #333333;
			}
		}
	}

	&__indexes {
		display: flex;
		justify-content: center;
		align-items: center;

		&__index {
			cursor: pointer;
			padding: .5rem;
			margin: 1rem;
			border-radius: 1rem;
			transition: all .3s;

			&--selected {
				background-color: #fff;
				color: #000;
			}
		}
	}
}

.postcard {
	margin-bottom: 2rem;
	background-color: #fff;
	box-sizing: border-box;
	border: none;
	border-radius: .5rem;
	font-size: 2rem;
	line-height: 2.4rem;
	overflow: auto;
	height: 25rem;
	width: 50rem;
	padding: .8rem;
}

.postcard--date {
	color: #fff;
	font-size: 2rem;
	margin-bottom: .5rem;
}