<div class="container">
    <app-view-actions class="bottom" [actions]="actions" [disableActions]="transacting"></app-view-actions>
    <app-view-single-input class="top" [inputs]="inputs"></app-view-single-input>
    <app-view-options class="sub" [groups]="optionGroups" [disableOptions]="transacting"></app-view-options>
    <app-post-card #postcard *ngIf="activePostcard" class="main" [mode]="ePostcardMode.Read"></app-post-card>
    <div class="paging top">
        <div class="paging__handles">
            <a (click)="skipFirst()"
               [class]="fetchConfig.skip > 0 && !refreshing ? 'paging__handles__handle' : 'paging__handles__handle--disabled'">
                <i class="fas fa-angle-double-left"></i>
            </a>
            <a (click)="skipBackward()"
               [class]="fetchConfig.skip > 0 && !refreshing? 'paging__handles__handle' : 'paging__handles__handle--disabled'">
                <i class="fas fa-angle-left"></i>
            </a>
        </div>
        <div class="paging__indexes">
            <a (click)="navTo(i)" *ngFor="let postcard of postcards; let i = index"
               [class]="navIndex === i ? 'paging__indexes__index paging__indexes__index--selected' : 'paging__indexes__index'">
                {{i + 1 + fetchConfig.skip}}
            </a>
        </div>
        <div class="paging__handles">
            <a (click)="skipForward()"
               [class]="totalCount > fetchConfig.skip + 5 && !refreshing ? 'paging__handles__handle' : 'paging__handles__handle--disabled'">
                <i class="fas fa-angle-right"></i>
            </a>
            <a (click)="skipLast()"
               [class]="totalCount > fetchConfig.skip + 5 && !refreshing ? 'paging__handles__handle' : 'paging__handles__handle--disabled'">
                <i class="fas fa-angle-double-right"></i>
            </a>
        </div>
    </div>
    <div *ngIf="activePostcard" class="info sub">
        <div class="info__item">
            {{activePostcard.creationDate | date}}
        </div>
        <div class="info__item info__item--author">
            <div class="info__item--author__name">
                {{activePostcard.author.name}}
            </div>
            <div class="info__item--author__photo">
                <div class="image-wrap">
                    <img class="image" [src]="activePostcard.author.photoUrl" alt="user picture">
                </div>
            </div>
        </div>
        <div class="info__item" *ngIf="spotySrc">
            <iframe id="spoty" [src]="spotySrc" width="100%"
                    height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
        <!--<div class="info__item">-->
        <!--<a [class]="activePostcard.allowShare ? 'btn btn&#45;&#45;align-left btn&#45;&#45;text-md' : 'btn btn&#45;&#45;align-left btn&#45;&#45;text-md btn&#45;&#45;disabled'"><i-->
        <!--class="fas fa-share-alt"></i>&nbsp; Share</a>-->
        <!--</div>-->
        <!--<div class="info__item">-->
        <!--<a class="btn btn&#45;&#45;align-left btn&#45;&#45;text-md btn&#45;&#45;disabled"><i class="fas fa-heart"></i>&nbsp; Add to favorite</a>-->
        <!--</div>-->
        <!--<div class="info__item">-->
        <!--<a class="btn btn&#45;&#45;align-left btn&#45;&#45;text-md btn&#45;&#45;disabled"><i class="fas fa-reply"></i>&nbsp; Reply</a>-->
        <!--</div>-->
        <!--<div class="info__item">-->
        <!--<a class="btn btn&#45;&#45;align-left btn&#45;&#45;text-md"><i class="fas fa-flag"></i>&nbsp; Report</a>-->
        <!--</div>-->
    </div>
    <div *ngIf="postcards && postcards.length === 0" class="main">
        <div class="empty">
            {{direction === 'in' ? 'You don\'t have any postcards yet' : 'You haven\'t sent any postcards yet'}}
        </div>
    </div>
    <app-loader class="main" [load]="!postcards"></app-loader>
</div>





