<div *ngIf="postcards" class="container">
    <div class="paging">
        <div class="paging__handles">
            <i class="fas fa-angle-double-left"></i>
            <i class="fas fa-angle-left"></i>
        </div>
        <div class="paging__numbers">
            <a *ngFor="let postcard of postcards; let i = index">{{i}}</a>
        </div>
        <div class="paging__handles">
            <i class="fas fa-angle-right"></i>
            <i class="fas fa-angle-double-right"></i>
        </div>
    </div>
    <div class="postcard">
        {{postcards[navIndex].body}}
    </div>
    <div class="action">
        <a (click)="flip()" class="btn">Flip</a>
    </div>
</div>