.container {
	-webkit-perspective: 1500px;
	perspective: 1500px;
}

.paging {
	color: var(--color-whitish);
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;

	&__handles {
		&__handle {
			margin: 1rem;
			cursor: pointer;
			transition: all .2s;

			&--disabled {
				cursor: auto;
				color: #333333;
			}
		}
	}

	&__indexes {
		display: flex;
		justify-content: center;
		align-items: center;

		&__index {
			cursor: pointer;
			padding: .5rem;
			margin: 1rem;
			border-radius: 50%;
			text-align: center;
			width: 4rem;
			height: 4rem;

			transition: all .3s;

			&:hover {
				background-color: var(--color-whitish);
				color: #000;
			}

			&--selected {
				background-color: var(--color-whitish);
				color: #000;
			}
		}
	}
}

.info {
	grid-area: info;
	color: var(--color-whitish);
	font-size: 2rem;
	margin-bottom: .5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	overflow-y: scroll;

	&::-webkit-scrollbar {
		display: none;
	}

	&__item {
		margin-bottom: 1rem;
		width: 100%;

		&--author {
			display: flex;
			align-items: center;
			margin-top: 3rem;
			margin-bottom: 3rem;

			&__name {

			}

			&__photo {
				max-width: 10rem;
			}
		}
	}
}

.empty {
	grid-area: postcard;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3rem;
	color: var(--color-whitish);
}

.image-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
}

.image {
	max-width: 50%;
	max-height: 50%;
	border-radius: 50%;
}
