<div *ngIf="postcards && postcards.length > 0" class="container">
    <div class="paging">
        <div class="paging__handles">
            <a (click)="skipFirst()"
               [class]="fetchConfig.skip > 0 && !refreshing ? 'paging__handles__handle' : 'paging__handles__handle--inactive'">
                <i class="fas fa-angle-double-left"></i>
            </a>
            <a (click)="skipBackward()"
               [class]="fetchConfig.skip > 0 && !refreshing? 'paging__handles__handle' : 'paging__handles__handle--inactive'">
                <i class="fas fa-angle-left"></i>
            </a>
        </div>
        <div class="paging__indexes">
            <a (click)="navTo(i)" *ngFor="let postcard of postcards; let i = index"
               [class]="navIndex === i ? 'paging__indexes__index paging__indexes__index--selected' : 'paging__indexes__index'">
                {{i + 1 + fetchConfig.skip}}
            </a>
        </div>
        <div class="paging__handles">
            <a (click)="skipForward()"
               [class]="count > fetchConfig.skip + 5 && !refreshing ? 'paging__handles__handle' : 'paging__handles__handle--inactive'">
                <i class="fas fa-angle-right"></i>
            </a>
            <a (click)="skipLast()"
               [class]="count > fetchConfig.skip + 5 && !refreshing ? 'paging__handles__handle' : 'paging__handles__handle--inactive'">
                <i class="fas fa-angle-double-right"></i>
            </a>
        </div>
    </div>

    <div class="postcard--date">
        {{postcards[navIndex].creationDate | date}}
    </div>
    <div #postcard class="postcard">
        <div class="postcard--side">
            <div class="postcard__body" [innerHTML]="postcards[navIndex].body">
            </div>
            <img class="postcard__body__stamp" src="../../../assets/stamp.png" alt="stamp">
        </div>
        <div class="postcard--side postcard--back">
            <div class="postcard__image-wrap">
                <img *ngIf="postcards[navIndex].imageUrl" [class]="getImageClass()" [src]="postcards[navIndex].imageUrl" alt="postcard image">
            </div>
        </div>
    </div>
    <div class="action">
        <a (click)="flip(postcard)" class="btn">Flip</a>
    </div>
</div>
<div *ngIf="!postcards || postcards.length === 0" class="empty">
    {{direction === 'in' ? 'You don\'t have any postcard yet' : 'You haven\'t sent any postcard yet'}}
</div>