.container {
	-webkit-perspective: 1500px;
	perspective: 1500px;
}

.wysiwyg-container {
	margin-left: 5rem;
	margin-right: 5rem;
	grid-area: form;
	color: var(--color-whitish);
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-x: scroll;

	&__group {
		&--inline {
			width: 100%;
			display: flex;
			justify-content: space-evenly;

			& > *:not(:last-child) {
				margin-right: 1rem;
			}
		}
	}
}

.wysiwyg {
	& > * {
		font-size: 3rem;
	}
}

