.container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.compose {
	align-self: stretch;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	position: relative;
	-webkit-perspective: 1000px;
	perspective: 1000px;

	&__action {
		display: flex;
		justify-content: center;
		align-items: center;

		& > a {
			margin: 1rem;
		}
	}
}

.postcard {
	margin-bottom: 2rem;
	height: 25rem;
	width: 50rem;
	transform-style: preserve-3d;
	transition: all 1s ease-in-out;

	&__image-wrap {
		display: flex;
		align-items: center;
		justify-content: center;
		height: max-content;
	}

	&__image {
		max-width: 100%;
		max-height: 100%;

		&--contain {
			object-fit: contain;
		}
		&--cover {
			object-fit: cover;
		}
		&--fill {
			object-fit: fill;
		}
		&--none {
			object-fit: none;
		}
	}

	&--side {
		height: 100%;
		width: 100%;
		backface-visibility: hidden;
		position: absolute;
		border-radius: 1rem;
	}

	&--back {
		background-color: blanchedalmond;
		text-align: center;
		transform: rotateY(180deg);
		height: 100%;
		width: 100%;
		overflow: hidden;
	}

	&__body {
		background-color: blanchedalmond;
		//font-family: 'Homemade Apple', cursive;
		font-size: 2rem;
		line-height: 2.4rem;
		box-sizing: border-box;
		border: none;
		border-radius: .5rem;
		resize: none;
		overflow: auto;
		height: 25rem;
		width: 100%;
		padding: 2rem;
		outline: none;

		&__stamp {
			position: absolute;
			top: 1rem;
			right: 1rem;
			height: 8rem;
			filter: opacity(.5);
		}
	}
}

.submit-msg {
	font-size: 4rem;
	color: #fff;
}

.form {
	width: 50rem;

	&__image-options {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		&--image-url-input {
			flex: 3;
			outline: none;
			padding: 1rem 1.2rem;
			text-align: center;
			border-radius: 1rem;
			margin-bottom: 1rem;
		}

		&--custom-select {

		}
	}
}
