<div class="container">
    <div *ngIf="composeMode" class="compose">
        <div class="postcard">
            <form [formGroup]="form">
                <textarea class="postcard__body" formControlName="body" name="body" id="body" cols="30"
                          rows="10"></textarea>
            </form>
        </div>
        <a (click)="submit()" class="btn">Send postcard</a>
    </div>
    <div *ngIf="!composeMode">
        <a (click)="enterComposeMode()" class="btn">Write a postcard</a>
    </div>
</div>
