<div id="postcard" class="postcard main">
    <div class="postcard--side">
        <div #editor (focus)="compose()" #body class="postcard__body" id="body" [attr.contenteditable]="mode === ePostcardMode.Write">
        </div>
    </div>
    <div #back id="back" class="postcard--side postcard--back">
        <youtube-player *ngIf="postcard.backSideOptionType === eBackSideOption.Youtube"
                        [videoId]="postcard.backSideValue"
                        [height]="'100%'"
                        [width]="'100%'"
        ></youtube-player>
        <div *ngIf="imageUrl">
            <div class="postcard__image-wrap">
                <img class="postcard__image postcard__image--contain" [src]="imageUrl"
                     alt="">
            </div>
        </div>
        <agm-map *ngIf="postcard.backSideOptionType === eBackSideOption.Location" [latitude]="geoData.lat"
                 [longitude]="geoData.lng">
            <agm-marker [latitude]="geoData.lat" [longitude]="geoData.lng"></agm-marker>
        </agm-map>
    </div>
</div>