<div class="container">
    <div *ngIf="!transacting && !resetPasswordSuccess" class="mb-1">
        <div class="form" [formGroup]="form">
            <div class="form__group">
                <div class="form__group__label">
                    New password
                </div>
                <div class="form__group__input">
                    <input formControlName="password" class="form__group__input--text form__group__input--text--large" type="password">
                </div>
                <div class="form-msg form-msg--warning" *ngIf="!password.pristine && password?.errors && password?.errors['required']">
                    Password is required.
                </div>
                <div class="form-msg form-msg--warning" *ngIf="!password.pristine && password?.errors && password?.errors['minlength']">
                    Minimum 5 characters
                </div>
            </div>
            <div class="form__group">
                <div class="form__group__label">
                    Confirm password
                </div>
                <div class="form__group__input">
                    <input formControlName="passwordConfirm" class="form__group__input--text form__group__input--text--large" type="password">
                </div>
                <div class="form-msg form-msg--warning" *ngIf="!passwordConfirm.pristine && passwordConfirm.hasError('MatchPassword')">
                    Passwords must match.
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="resetPasswordSuccess" class="success-msg">
        Password successfully updated!
    </div>
    <div *ngIf="!transacting" class="actions">
        <a (click)="goToLogin()" class="btn btn--secondary">Go to login page</a>
        <a *ngIf="!resetPasswordSuccess" (click)="resetPassword()" [class]="form.valid ? 'btn btn--secondary' : 'btn btn--disabled'">Reset password</a>
    </div>
    <div *ngIf="transacting" class="container">
        <app-loader class="main" [load]="transacting"></app-loader>
    </div>
</div>
